@font-face {
    font-family: "Rubik Glitch";
    src: url("./RubikGlitch-Regular.ttf");
}
@font-face {
    font-family: "Just Sans";
    src: url("./JUST Sans Regular.otf");
}
:root {
    --white: #ffffff;
    --oxford-blue: #040827ff;
    --light-blue: #95c3c6ff;
    --lapis-lazuli: #33658aff;
    --pink-lavender: #d8a7caff;
    --chinese-violet: #996888ff;
}
html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--white);
    color: var(--oxford-blue);
    font-family: "Just Sans";
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
#top {
    background-color: var(--oxford-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}
.main-header {
    color: var(--pink-lavender);
    font-family: "Rubik Glitch";
    font-size: 8vw;
    text-align: center;
    margin: 0;
}
#main-container {
    width: 100%;
    height: 90%;
    margin: 0;
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}