@font-face {
    font-family: "Rubik Glitch";
    src: url("./RubikGlitch-Regular.ttf");
}
@font-face {
    font-family: "Just Sans";
    src: url("./JUST Sans Regular.otf");
}
:root {
    --white: #ffffff;
    --oxford-blue: #040827ff;
    --light-blue: #95c3c6ff;
    --lapis-lazuli: #33658aff;
    --pink-lavender: #d8a7caff;
    --chinese-violet: #996888ff;
}
html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--white);
    color: var(--oxford-blue);
    font-family: "Just Sans";
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
a {
    text-decoration: none;
}
#top {
    background-color: var(--oxford-blue);
    height: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    align-items: center;
    justify-content: center;
}
.main-header {
    color: var(--pink-lavender);
    font-family: "Rubik Glitch";
    font-size: 10vw;
    text-align: center;
    margin: 0;
    width: 100%;
    grid-area: 1 / 1 / 2 / 3;
    align-self: center;
    justify-self: center;
}
.button {
    width: 35%;
    height: 100%;
    align-self: center;
    justify-self: center;
    background-color: var(--light-blue);
    border: solid;
    border-width: 1.5vw;
    border-color: var(--oxford-blue);
}
#back {
    grid-area: 2 / 1 / 3 / 2;
}
.btn-link{
    color: var(--oxford-blue);
}
#main-container {
    width: 100%;
    height: 90%;
    margin: 0;
    background-color: var(--light-blue);
    display: grid;
    grid-template-columns: 1fr 10fr 1fr ;
    grid-template-rows: 1fr 14fr 1fr;
}

#text {
    width: 100%;
    height:100%;
    background-color: var(--oxford-blue);
    margin: 0;
    padding: 0;
    border-radius: 40px;
    grid-area: 2 / 2 / 3 / 3;
}
#it-header{
    text-align: center;
    font-family: "Just Sans";
    font-size: 7vw;
    color: var(--pink-lavender);
}
#it-paragraph {
    margin: 0 4vw;
    color: var(--pink-lavender);
    font-size: 4.5vw;
    letter-spacing: 2px;
    line-height: 30px;
}
.special {
    text-decoration: none;
    letter-spacing: 4px;
    color: var(--white);
    box-shadow: var(--white) -6px 6px 4px 1px;
    padding: 3px;
    cursor: pointer;
    transition: 0.5s ease;
}
.special:hover{
    box-shadow: var(--light-blue) -8px 8px 4px 1px;
    color: var(--light-blue);
}
#email {
    letter-spacing: 3px;
    color: var(--light-blue);
}